body {
    background-color: black;
}


#logo {
    width: 18%;
    float: left;
    margin-right: 5em;
    margin-bottom: 2em;
}


#nome {
    font-family: georgia;
    font-size: 80px;
    color: #f9c31a;
    float: left;
    margin-bottom: 1em;
}

#header {
    margin-bottom: 1em;
    background-color: black;
    min-block-size: 100px;
    border: 2px solid #f9c31a;
}

#welcome {
    text-align: center;
    font-family: Georgia;
    color: #f8b71d;
    margin-top: 5em;
}

nav a:hover {
    background-color: chocolate;
    color: mediumvioletred;
}

#navbar {
    border: solid yellow 3px;
    background-color: #f9c31a;
}


#footer {
    bottom: 0;
    margin-top: 20em;
    text-align: center;
    border-top: solid yellow 3px;
}




.col-md-4 {
    float: right;
    margin-top: 2em;
    width: 50%;
    margin-bottom: 3em;
    margin-right: 2em;
}

.container-fluid {
    margin-top: 3em;
}

#descrizione {
    text-align: justify;
    color: white;
}

#myForm {
    float: left;
}

#subscribe {
    color: white;
}

#kb2 {
    width: 70%;
}
